*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    background-color: rgb(51, 131, 104);
    color: white;
    text-align: center;
    /* padding: 10px; */
    padding: 15px;
    border-radius: 15px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* update a/c body a change */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

}
body{
    /* getting code by ansh */
    /* padding: 0px 10px 0px 10px; */

    /* i update code for font change, back ground color, padding(Vikash) */
    font-family: Arial, sans serif;
    background-color: #f2f2f2;
    padding: 20px;

   
} 
main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* justify-content */
    justify-content: center;   
    
}

.side1 {
    /* display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
} */ 
width: 100%;;
/* max-width: 300px; */
padding: 15px;
background-color: #fff;
border: 2px solid #ddd;
border-radius: 10px;
box-shadow: 0  0 10px rgba(0, 0, 0, 0.1);
height: auto;
display: flex;
flex-direction: column;
}
/* search input style */
input {
    /* height: 18%;
    margin-bottom: 3vh; */

    /* new update by vikash */
    height: 18%;
    padding: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
/* search button style */
.search {
    /* height: 20%;
    background-color: rgb(51, 131, 104);
    color: white;
    border: none;
    border-radius: 10px; */

    /* update by vikash */

    height: 20%;
    background-color: rgb(51,131,104);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

.search:hover{
    background-color: rgb(41, 111, 84);
}



.forecast {
    display: flex;
    flex-direction: column;

    /* along with above i add some more properties */
    flex: 1;
    gap: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.today-forecast {
    /* border: 2px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    font-weight: bolder; */

    /* below update by vikash */
    width: 100%;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.day-forecast {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: space-around;
    /* flex-direction: row; */
}

.day-forecast span {
    /* border: 2px solid black;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px; */
    width: 100%;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 948px) {
    .side1 {
        width: 30%;
        height: 25vh;
    }

    .today-forecast {
        width: 61.5%;
    }

    .day-forecast span {
        width: 17vw;
    }
    input{
        height: 5vh;
    }
    .search{
        height: 5vh;
    }
    
}

@media (min-width: 1024px) {
    .side1 {
        width: 30%;
        height: 27vh;
    }

    .today-forecast {
        width: 63%;
    }

    .day-forecast span {
        width: 17vw;
    }
    input{
        height: 5vh;
    }
    .search{
        height: 5vh;
    }
}



