h1 {
    background-color: rgb(51, 131, 104);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
body{
    padding: 0px 10px 0px 10px;
}
main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.side1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

input {
    height: 18%;
    margin-bottom: 3vh;
}

.search {
    height: 20%;
    background-color: rgb(51, 131, 104);
    color: white;
    border: none;
    border-radius: 10px;
}

.forecast {
    display: flex;
    flex-direction: column;
}

.today-forecast {
    border: 2px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    font-weight: bolder;
}

.day-forecast {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.day-forecast span {
    border: 2px solid black;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

@media (min-width: 948px) {
    .side1 {
        width: 30%;
        height: 25vh;
    }

    .today-forecast {
        width: 61.5%;
    }

    .day-forecast span {
        width: 17vw;
    }
}

@media (min-width: 1024px) {
    .side1 {
        width: 30%;
        height: 27vh;
    }

    .today-forecast {
        width: 63%;
    }

    .day-forecast span {
        width: 17vw;
    }
}



